/* Definicoes */
html,
body {
  height: 100%; }

.navbar {
  margin-bottom: 0px; }

/* Barra de navegacao */
.navbar-static-top {
  background-color: #075da8; }

/* Sticky footer styles */
#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

.container .progress {
  min-height: 30px;
  padding: 0; }

.container p {
  width: auto;
  position: fixed;
  font-size: 16px;
  color: black;
  padding-left: 20px;
  padding-top: 3px;
  float: left; }
